@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,1,153,1) 38%, rgba(28,0,96,1) 100%);
}
.link_button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}
.link_button:hover{
  transform: scale(1.1);
}
.movie-desc {
  text-align: justify;
  max-height: 300px;
  overflow-y: auto;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}
.descricao h4 {
  font-size: 24px;
}
.descricao p {
  text-indent: 30px;
}
#box{
  margin-top: 100px;
}
#loading{
  height: 100vh;
  width: 100vw;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,1,153,1) 38%, rgba(28,0,96,1) 100%);
}