
nav h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.navbar{
  width: 80vw;
  margin: 0 10vw;
}

.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.link_button {
  margin-top: 5px;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 15px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}
.link_button:hover{
  transform: scale(1.1);
}

.img_movie {
  width: 20%;
  margin: 0 40%;
}

#carouselExampleIndicators{
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10px;
}


.movie-desc {
  text-align: justify;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30%;
}
.descricao h4 {
  font-size: 24px;
}
.descricao p {
  text-indent: 30px;
}